body {
  background-color: #fff;
  color: #333;
  p, ol, ul, td {
    font-family: verdena, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
  }
  #notice {
    padding: 5px;
    background-color: #96FF88;
  }
}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 10px;
}
a {
  color: #000;
  a:visited {
    color: #666;
  }
  a:hover {
    color: #fff;
    background-color: #000;
  }
}
