%p
  %table
    %tr
      %th Name:
    %tr
      %td= @admin_publisher.name
    %tr
      %td
        = link_to 'Edit', edit_admin_publisher_path(@admin_publisher)
        \|
        = link_to 'Back', admin_publishers_path
